<div class="pageBlock">
    <h3 class="pageTitle"><span class="redBB">Суші</span></h3>
    <div class="productBlock" >
        <div class="productBox" ng-repeat="item in sushi.products" ng-if="item.category.name=='sushi'">
            <div class="productBoxImage">
                <img class="productBoxImageSrc" src="img/Flamingo.jpg" alt="">
            </div>
            <div class="productBoxText">
                <h3 class="productBoxTextTitle">{{item.name}1}</h3>
                <p class="productBoxTextRegular">{{item.description}}1</p>
            </div>
            <div class="productBoxPrice">
                <p class="productBoxPriceText">{{item.price}} UAH</p>
            </div>
            <div class="productBoxBuy">
                <div class="productBoxBuyButton">
                    <a href="" class="buyButton">замовити</a>
                </div>
            </div>
        </div>
    </div>
</div>