<div class="pageBlock">
    <div class="sliderBox">
        <img class="sliderImg" src="../../img/delivery-2.jpg" alt="">
    </div>
    <div class="goToMap">
        <div class="goToMapBox">
            <img class="goToMapImage" src="../../img/scooter-white-2.svg" alt="">
            <span class="goToMapText">переглянути Зони доставки</span>
            <a href="" class="goToMapButton">
                <img src="../../img/location.png">
                Мапа доставки
            </a>
        </div>
    </div>
    <div class="howToBuy">
        <h1 class="howToBuyTitle">Як замовити піцу "La П'єц"?</h1>
        <div class="howToBuyBox">
            <div class="howToBuyBoxes afterArrow">
                <img class="howToBuyBoxesImage" src="../../img/hand.svg" alt="">
                <h4 class="howToBuyBoxesTitle">Зробіть вибір</h4>
                <span class="howToBuyBoxesText">Оберіть для себе та друзів піцу, салати і напої на Ваш смак через комп’ютер або будь-який мобільний пристрій</span>
            </div>
            <div class="howToBuyBoxes afterArrow">
                <img class="howToBuyBoxesImage" src="../../img/support-2.svg" alt="">
                <h4 class="howToBuyBoxesTitle">Підтвердіть замовлення</h4>
                <span class="howToBuyBoxesText">Після оформлення замовлення на сайті наші менеджери зв’яжуться з вами протягом 5 хвилин, щоб підтвердити дані та уточнити адресу.</span>
            </div>
            <div class="howToBuyBoxes afterArrow">
                <img class="howToBuyBoxesImage" src="../../img/scooter.svg" alt="">
                <h4 class="howToBuyBoxesTitle">Очікуйте найшвидшу доставку піци у Львові</h4>
                <span class="howToBuyBoxesText">Замовлення вже прямує до Вас! Якщо ми не встигаємо доставити у зазначений час, Ви отримуєте бонуси на наступне замовлення у “La П’єц”.</span>
            </div>
            <div class="howToBuyBoxes">
                <img class="howToBuyBoxesImage" src="../../img/pizza-hand.svg" alt="">
                <h4 class="howToBuyBoxesTitle">СМАЧНОГО!</h4>
                <span class="howToBuyBoxesText">Отримайте Ваше замовлення в найкоротший час і смакуйте піцу на дровах з улюбленими салатами та напоями.</span>
            </div>
        </div>
    </div>
</div>